@import "variables";
@import "mixins";

.loaderVisible {
  @include loader;
  visibility: visible;
}

.loaderInvisible {
  @include loader;
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
